
/* 
    Created on : 17-Feb-2023, 11:10:21 am
    Author     : Student
*/

body
{     
   background:url("download.jpg");
   background-repeat:no-repeat;
   background-size:cover;
   height:auto;
   width:100%;
   margin-bottom: 50px;
}
font
{
    color:white;
	size: 30;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;  
}

li a:hover {
  background-color: #111;
}
h1{
	color:white;
}
h2{
	color:white;
}

footer{
    background-color: grey;
    color: white;
    padding: 0.1%;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.institutes
{
	font: 20px Tahoma, sans-serif;
    color: white;	
}

.contactForm
{
	padding-left:20px
}
.ms-5{
	 padding-top:4px;
	 padding-bottom:0px;
}

.contactForm form div
{
	padding-bottom: 20px;
	 
}

.contactForm form div input
{
	width:300px;
} 

.maindiv{
	padding-left:17px;
}

.btn
{
	background-color:#58D68D;
	color: black;
	border-radius: 5px;
}
